

body{
  margin: 0;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 300px 1fr;

  overflow-x: hidden;
}

.header{
  grid-row: 1;
  grid-column: 1;

  margin-top: 0;
  height: 300px;
  width: 100%;

  object-fit: scale-down;
  overflow: hidden;


  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(205, 205, 205);
  
}

.main-container{
  grid-row: 2;
  grid-column: 1;

  display: grid;
  grid-template-columns: 20vw, 85vw;
  grid-template-rows: 1fr;

  overflow-x: hidden;

  /* background-color: pink; */
}

.navigation{
  grid-row: 1;
  grid-column: 1;
  padding: 20px;
  padding-top: 50px;

  width: 20vw;

  /* background-color: yellow; */
}

.menu-container{
  
  grid-row: 1;
  grid-column: 2;
  width: 80vw;
  padding: 40px;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  
  /* background-color: green; */
}
